.footer {
    width: 100%;
    background: #1f2937;
    color: white;
    padding: 18px 30px;
    margin-top: auto;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-text p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-icon {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.footer-icon:hover {
    transform: scale(1.05);
}

.whatsapp:hover {
    color: #25D366;
}

.linkedin:hover {
    color: #0A66C2;
}
.footer-links a {
    color: white;
    transition: .3s;
}

.footer-links a:hover {
    transform: translateY(-3px);
}

.footer-links a:hover:nth-child(1) {
    color: #25D366; /* WhatsApp */
}

.footer-links a:hover:nth-child(2) {
    color: #0A66C2; /* LinkedIn */
}

.footer-links a:hover:nth-child(3) {
    color: #E4405F; /* Instagram */
}